body {
  text-align: center;
  background-color: #f0ebeb;
}

.header-container {
  
  background: ##F1D4AF;
  text-decoration: none;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

.header-logo {
  float: left;
  background: #C2CAD0;
  font-size: 50px;
  padding: 10px 30px;
}

.header-list-container {
  color: #F1D4AF;
  padding: 5px 50px;
  float: center;
  font-family: 'Lato', sans-serif;
  
}
.header-list li {
  background: background: #AFD275;
  float: left;
  color: #F1D4AF;
  font-size: 30px;
  padding: 33px 20px;
  text-decoration: none;
  background: #E7717D;
  font-family: 'Lato', sans-serif;
}

.subscription_email_listing_container {
  float: right;
  font-family: 'Lato', sans-serif;
}

.newsletter-button {
  float: right;
  font-family: 'Lato', sans-serif;
} 

/*start modal*/        
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
       
/* Modal Content */
  .modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  background-image: url("img/background2.jpg");
  }
            
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  }
            
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  }
/*end modal*/

main {
  text-align: center;
  margin: auto;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding: 0px 150px 0px 150px;
  background-color: #f0ebeb;
  justify-content: center;
}

main h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 40px;
  color: #7e685a;  
  text-align: center;
  border-bottom: 3px solid #7e685a;
}

.story-image img {
  text-align: center;
  border: 3px solid #000;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
}


.story-text h1,p {  
  text-align: center;
  display: inline-block;
  width: 800px;
  margin: 10px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    max-height: 100vh;
    text-align: center;
    justify-content: center;
  }
  .cards img {
    margin: 10px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 23vw;
    text-align: center;
  }

  .flex-container {
    display: inline-flex;
    justify-content: center;
   width: 800px;
}

.flex-container > div { 
  margin: 10px;
  text-align: center;
  
}
.reviews p {
  margin: 10px;
    text-align: center;
    width: 400px;
}
.reviews img {
  border-radius: 50%;
}

  .blog p {
    margin: 10px;
    text-align: center;
    width: 400px;
    
  }
  .blog img {
    border-radius: 50%;
  }

  .blog-page {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    max-height: 100vh;
    text-align: center;
    justify-content: center;
  }

  .blog-page img {
   
    max-width: 23vw;
    text-align: center;
   border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3);
   
  }

  .blog-heading h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 40px;
  color: #7e685a;
  text-align: center;
  border-bottom: 3px solid #7e685a;
  text-align: center;
  }

  .product-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    max-height: 100vh;
    text-align: center;
    justify-content: center;
  }
  .product-cards img {
    margin: 10px;
    border: 3px solid #000;
    box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.3); 
    max-width: 23vw;
    text-align: center;
  }

  .product-heading h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 40px;
  color: #7e685a;
  text-align: center;
  border-bottom: 3px solid #7e685a;
  text-align: center;
  }

  /* .container_around_footer {
    display: flex;
    flex-direction: row; 
    justify-content: center;
} */

/* .footer_col {
    flex-direction: column;
} */

/*.footer {
  background-color: #e7717d;
color: #7e685a;
}*/

/* FOOTER BEGINS HERE */
.footer{
  background: #C2B9B0;
  height: 200px;
  width: 100%;
  padding-bottom: 10px;
  text-decoration: none;
  font-family: 'Lato', sans-serif;

}

/*.social_media_links_container {
  padding: 60px 10px;
}*/

.logo_container {
  float: left;
  padding: 25px 5px 20px 25px;
  
}

.social_media_links_container{
  /*padding: 20px 10px 0px;*/
  float: left;
  margin-top: 30px;
}
.social_media_links li {
  padding: 20px;
  float: left;
  text-decoration: none;

}

.about_links_container {
  background: #C2B9B0;
  float: left;
  margin-left: 200px;  
  text-decoration: none; 
  padding: 5px;
  font-family: 'Lato', sans-serif;
} 

.footer_ABOUT_links{
  padding: 3px 20px;
  font-family: 'Lato', sans-serif;
}


/*
.social_media_links {
  padding-top: 10px;
  float: left;
  margin-left: 60px;
  text-decoration: none;
} */



/* .logo_container img {
  margin-left: 80px;
  margin-top: 10px;
  margin-bottom: 0;
} */



.help_links_container {
  background: #C2B9B0;
  float: left;
  margin-left: 200px;  
  text-decoration: none; 
  padding: 5px;
  font-family: 'Lato', sans-serif;
  
  
  /*float: left;
  margin-left: 150px;
  text-decoration: none;
  font-family: 'Lato', sans-serif;*/
}


.footer_HELP_links {
  padding: 3px 20px;
  font-family: 'Lato', sans-serif;
}

.subscription_email_listing_container, .subscription_email_entry_container {
  background: #C2B9B0;
  float: right;
  padding: 10px;
  margin-top: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-family: 'Lato', sans-serif;
}

.newsletter-button{
  padding: 5px 10px;
}
/*.subscription {
  padding-top: 40px;
  float: left;
  margin-left: 450px;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}*/ 

li{
  list-style: none; 
  padding: 3px 5px;
  font-family: 'Lato', sans-serif;
  
}

a{
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}